@model List<Management.Models.CommonLogActionModel>
@{
    Layout = Url.Content("~/Views/Shared/_UploadLayout.cshtml");
}

<div class="uTable3" style="text-align:center;">
    <table class="table table-striped mb-4">
        <thead>
            <tr>
                <th scope="col">帳號</th>
                <th scope="col">姓名</th>
                <th scope="col">語系</th>
                <th scope="col">修改日期時間</th>
                <th scope="col">上線位置</th>
                <th scope="col">操作內容</th>
                <th scope="col">異動紀錄</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                @foreach (var data in Model)
                {
                    var MSG = new List<string>();
                    var PreviousData = Services.WebManagement.OperationStatisticsService.GetLogByPrevious(data.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss"), data.SourceSN,data.SourceTable);
                    if (PreviousData != null && data.Action2.ToUpper() != "DELETE")
                    {
                        MSG = Management.ManagementUtility.LogUtility.LogAnalyze(PreviousData.MessageInput, data.MessageInput, data.SourceTable, PreviousData.Action2, data.Action2);
                    }
                    <tr>
                        <td>@data.UserID</td>
                        <td>@data.UserName</td>
                        <td>@(data.Lang == "zh-tw" ? "中文":"英文")</td>
                        <td>@data.CreatedDate</td>
                        <td>@data.ProcessIPAddress</td>
                        <td>@(data.Action2.ToUpper() == "UPDATE" ? "更新資料":data.Action2.ToUpper() == "RETURNED" ? "送審退回":"新增資料")</td>
                        <td>@((MSG != null && MSG.Count > 0) ? Html.Raw(string.Join("<br />",MSG)):"")</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7">@Utility.SysConstTable.ListNotFound.TW</td>
                </tr>
            }
        </tbody>
    </table>
    <button type="button" id="close_news" class="ubtn-close">關閉</button>
</div>
<script>
    $(document).ready(function() {
        $("#close_news").click(function() {
            Swal.close();
        });
    });

</script>