@model DeptModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var masterModel = ViewData["WebSiteMaster"] as Services.Models.WebSite.WebSiteMasterModel;
    var LangSysCategory = masterModel.sysCategories;
}
@section meta
{
<title>@Model.ogData.title</title>
<meta property="og:title" content="@Model.ogData.title" />
<meta name="description" content="@Model.ogData.description" />
<meta property="og:image" content="@Model.ogData.image" />
<meta property="og:image:type" content="@Model.ogData.image_type">
<meta property="og:image:width" content="@Model.ogData.image_width">
<meta property="og:image:height" content="@Model.ogData.image_height">
<meta property="og:description" content="@Model.ogData.description" />
<meta name="keywords" content="" />
<meta name="description" content="@Model.ogData.description" />
    @if(!string.IsNullOrWhiteSpace( Model.Dept?.AdditionalCSS) )
    {
      @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Dept.AdditionalCSS))
    }
}
@section gacode
{
	@if (!string.IsNullOrWhiteSpace(Model.SysWebSiteLang.GACode))
    {
        @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.SysWebSiteLang.GACode))
;
    }
}
<main class="main">
    <!-- 0.麵包屑 -->
    <partial name="~/Views/Common/Breadcrumb.cshtml" model=Model.webSiteBreadcrumbs />

    <div class="a11yBrickBar1 wrap4 mx-auto px-3 px-md-4 px-lg-5">
        <a href="#AC" id="AC" accesskey="C" class="a11yBrick position-absolute" title="頁面中央內容區塊[快捷鍵Alt+C]">:::</a>
    </div>

    <!-- 簡介 -->
    <section class="deptIntro">
        <div class="wrap4 mx-auto px-3 px-md-4 px-lg-5 py-4 py-md-5">
            <!-- 內容主標 -->
            <div class="row">
                <div class="col">
                    <h2 class="title2 mb-0"><span class="ci-dept1 lazy" data-bg="@Model.LogoImg?.FilePath"></span><span class="titleTxt">@Model.Dept?.Title</span></h2>
                </div>
                <div class="col-auto text-end d-flex pt-2">
                    <ul class="shareBar list-unstyled list-inline mb-0">
                        <!-- 分享 -->
                        <li class="list-inline-item">
                            <a href="javascript:;" title="@LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-51")?.Value"><i class="ci ci-share"></i><span class="visually-hidden">@LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-51")?.Value</span></a>
                            <ul class="shareBarMenu list-unstyled">
                                <li><a class="fbShareBtn fbShareJs" href="javascript:;" title="@LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-52")?.Value"><i class="bi bi-facebook"></i><span class="visually-hidden">Facebook</span></a></li>
                                <li><a class="ttShareBtn ttShareJs" href="javascript:;" title="@LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-53")?.Value"><i class="bi bi-twitter"></i><span class="visually-hidden">Twitter</span></a></li>
                                <li><a class="lineShareBtn lineShareJs" href="javascript:;" title="@LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-54")?.Value"><i class="bi bi-line"></i><span class="visually-hidden">LINE</span></a></li>
                            </ul>
                        </li>
                        <li class="list-inline-item d-none d-md-inline-block">
                            <a class="printBtn printJs" href="javascript:;" title="@LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-55")?.Value"><i class="ci ci-print"></i><span class="visually-hidden">@LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-56")?.Value</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            @Html.Raw(Model.Dept?.ContentHeader)
        </div>
    </section>

    <!-- deptWork -->
    @if (Model.ChildNodes != null && Model.ChildNodes.Count > 0)
    {
        foreach (var child in Model.ChildNodes.OrderBy(x => x.LevelView.BasicLevel.SortOrder))
        {
            switch (child.LevelView.BasicLevel.Module)
            {
                case "TAB":
                    var TemplateValue = EnumTpye.GetEnum<Utility.Default.EnumDeptTemplateValue>(child.LevelView.BasicLevel.TemplateValue);
                    var partialName = $"~/Views/Dept/{Utility.EnumTpye.GetEnumName(TemplateValue)}.cshtml";
                    <partial name="@partialName" model=child />
                    break;
                case "Extend":
                    <partial name="~/Views/Dept/Extend.cshtml" model=child />
                    break;
            }
        }
    }

    @Html.Raw(Model.Dept?.ContentFooter)

</main>
@section Scripts
{
    @if(!string.IsNullOrWhiteSpace( Model.Dept?.AdditionalScript) )
    {
      @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Dept.AdditionalScript))
    }
    <script>
        var tag = location.hash; 
        function tagclick(tag)
        {
         $("#qaH"+tag).children(".accordion-button").click();
        }
        if(tag.length > 2)
        {
            tag = tag.replace("#qaH","");
            tagclick(tag)
        }
    </script>
}


