@model Services.Models.WebSite.WebSiteChildModel
@{
    var masterModel = ViewData["WebSiteMaster"] as Services.Models.WebSite.WebSiteMasterModel;
    var LangSysCategory = masterModel.sysCategories;
}
<section class="idxFeatured" data-aos="fade-up">
	<div class="wrap5 mx-auto px-3 px-md-4 px-lg-5">
		<div class="wrap7 border-bottom">
			<!-- title -->
			<div class="titleBar1">
				<h2 class="title1 mb-3 mb-md-5">@Html.Raw(Model?.LevelView.BasicLevel.Title)</h2>
			</div>

			<!-- content -->
			<div class="listWrap1 position-relative">
				<div class="idxList5 position-relative imgCover">
					<button type="button" class="swiper-button-prev idxList5SwiperPrevBtn border-0 rounded-circle start-0 idxList5SwiperPrevBtnJs" title="@LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-37")?.Value"><span>@LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-37")?.Value</span></button>
					<div class="swiper idxList5Swiper idxList5SwiperJs">
						<div class="swiper-wrapper">
							@if(Model?.NewsViews != null)
							{
								foreach (var item in Model.NewsViews)
								{
									  var tagModel = CommFun.taggetattr(item.BasicNews.target, item.BasicNews.Title, LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-33")?.Value);
									<div class="swiper-slide">
										<a class="d-block w-100 overflow-hidden" href="@item.BasicNews?.URL" title="@tagModel.title" @(!string.IsNullOrWhiteSpace(tagModel.rel) ? $"rel={tagModel.rel}":"") target="@tagModel.target">
											<div class="pic">
												<img loading="lazy" alt="" src="@item.MainImg?.FilePath">
											</div>
											<b class="title">@item.BasicNews?.Title</b>
										</a>
									</div>
								}
							}
						</div>
					</div>
					<button type="button" class="swiper-button-next idxList5SwiperNextBtn border-0 rounded-circle end-0 idxList5SwiperNextBtnJs" title="@LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-38")?.Value"><span>@LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-38")?.Value</span></button>
					<div class="idxList5SwiperNav swiper-pagination idxList5SwiperPageJs"></div>
				</div>
			</div>
		</div>
	</div>
</section>