@model Services.Models.WebSite.WebSiteChildModel
@{
    var masterModel = ViewData["WebSiteMaster"] as Services.Models.WebSite.WebSiteMasterModel;
    var LangSysCategory = masterModel.sysCategories;
}
<section class="idxServices" data-aos="fade-up">
    <div class="wrap5 mx-auto px-3 px-md-4 px-lg-5">
        <div class="wrap7 border-bottom">
            <!-- title -->
            <div class="titleBar1">
                <h2 class="title1 mb-3 mb-md-5">@Html.Raw(Model?.LevelView.BasicLevel.Title)</h2>
            </div>

            <!-- content -->
            <div class="idxServicesCon row d-flex justify-content-center">
                @if (Model?.NewsViews != null)
                {
                    foreach (var item in Model.NewsViews.Take(3))
                    {
                        <div class="col h-100">
                            <h3 class="title8 text-center">@Html.Raw(item.BasicNews.Title)</h3>
                            <!-- 列表樣式九 -->
                            <ul class="list4-2 list-group mb-2 mb-md-3 mb-xl-4">
                                @if (item.TabNewsView != null)
                                {
                                    @foreach (var news in item.TabNewsView.Take(5))
                                    {
                                        var tagModel = CommFun.taggetattr(news.TabNews.target, news.TabNews.Title, LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-33")?.Value, news.fileType, news.fileTitle);
                                        <li class="list-group-item d-block bg-transparent px-0">
                                            <div class="listCon d-flex w-100 justify-content-md-between align-items-center flex-wrap">
                                                @if (news.NewsTags != null && news.NewsTags.Count() > 0)
                                                {
                                                    <div class="listTag4">
                                                        @foreach (var tag in news.NewsTags)
                                                        {
                                                            <a href="javascript:;" title="@tag.Value">
                                                                <i class="tagI">
                                                                    @Html.Raw(tag.Value)
                                                                </i>
                                                            </a>
                                                        }
                                                    </div>
                                                }
                                                <div class="col mb-0">
                                                    <a href="@news.DynamicURL" title="@tagModel.title" @(!string.IsNullOrWhiteSpace(tagModel.rel) ? $"rel={tagModel.rel}":"") target="@tagModel.target">
                                                        <b class="title5">@Html.Raw(news.TabNews.Title)
                                                            @if (!string.IsNullOrEmpty(news.fileType))
                                                            {
                                                                <span class="fileTypeI">@Html.Raw(news.fileType.Replace(".",""))</span>
                                                            }   
                                                        </b>
                                                    </a>
                                                </div>      
                                            </div>                                          
                                        </li>
                                    }
                                }
                            </ul>
                            @if (item.TabNewsView?.Count() > 5) 
                            {
                                <div class="btnBar1 text-center"><a href="@item.DynamicURL" class="btn btn1 rounded-4" title="@($"{LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-57")?.Value}({item.BasicNews.Title})")">
                                    @LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-57")?.Value
                                        <span class="visually-hidden"> @("(" + item.BasicNews.Title + ")")</span>
                                    </a></div>
                            }
                        </div>
                    }                  
                }
            </div>
        </div>
    </div>
</section>
