@model Management.Areas.WebContent.Models.NEWSModel

<div class="bootstrap-table">
    <partial name="~/Views/Common/Breadcrumb.cshtml" model=Model.LevelBreadcrumb />
    @if (Model.newCommonModels.Count() > 0)
    {
        <ul class="nav nav-tabs customtab" id="myTab" role="tablist">
            @foreach (var lan in Model.sysWebSiteLangs)
            {
                <li class="nav-item">
                    <a href="#@lan.Lang" class="nav-link @(lan.Lang=="zh-tw" ?" active":"")" id="authority-tab" data-bs-toggle="tab" data-bs-target="#@lan.Lang" role="tab" aria-controls="@lan.Lang" aria-selected="false">@(lan.Lang == "zh-tw"?"中文":"英文")</a>
                </li>
            }
        </ul>
    }
    <hr />
    <div class="form-horizontal tab-content">
        @if (Model.newCommonModels.Count() == 0)
        {
            var newCommonModel = new NewCommonModel() { webNews = new WEBNews() { Lang = "zh-tw", WebSiteID = Model.WebSiteId, WebLevelSN = Model.webLevel.WebLevelSN }, AuthSysGroupWebLevels = Model.AuthSysGroupWebLevels  , sysUserSysDepartmentID = Model.sysUserSysDepartmentID };
            <partial name="~/Areas/WebContent/Views/NEWS/ModeView.cshtml" model="newCommonModel" />
        }
        else
        {
            foreach (var lan in Model.newCommonModels)
            {
                <partial name="~/Areas/WebContent/Views/NEWS/ModeView.cshtml" model="lan" />
            }
        }
    </div>
</div>
@Html.AntiForgeryToken()
<script>
    changeArticleType('zh-tw');
    changeArticleType('en');
    function changeArticleType(lan) {
        var name = "ArticleType" + lan;
        var ArticleType = MODAhtmlEncode($('input[name=' + name + ']:checked'), "val");
        $("#ArticleType_0" + lan).hide();
        $(".ArticleType_0" + lan).hide();
        $("#ArticleType_1" + lan).hide();
        $("#ArticleType_2" + lan).hide();
        $("#ArticleType_10" + lan).hide();
        $("#ArticleType_" + ArticleType + lan).show();
        $(".ArticleType_" + ArticleType + lan).show();
    }
    function Save(IsEnable, lan) {
        var name = "ArticleType" + lan;
        var ArticleType = MODAhtmlEncode($('input[name=' + name + ']:checked'), "val");      
        var isEnable = "";
        if (IsEnable == "4" || IsEnable == "-2" || IsEnable == "-1") {
            isEnable = IsEnable;
        }
        else{
            isEnable = MODAhtmlEncode($('input[name=IsEnable' + lan + ']:checked'), "val");
        }

        if (IsEnable == "-1" && (ArticleType == "1" || ArticleType == "2")) {
            Swal.fire({
                icon: "warning",
                title: "只有一般資料/逐字稿 格式才有預覽功能"
            });
            return false;
        }
        var tab = $("#tab" + lan).val();
        var whole = $("#whole" + lan).val();
        var policy = $("#policy" + lan).val();
        var business = $("#business" + lan).val();
        var serve = $("#serve" + lan).val();
        var keyword = txtAreaObj("key" + lan);
        var relatedlink = [];
        var relatedvideo = [];
        var relatedmoj = [];
        var seodescription = MODAhtmlEncode($("[name='SEODescription" + lan + "']"), "val");
        var seokeywords = MODAhtmlEncode($("[name='SEOKeywords" + lan + "']"), "val");
        var saveHref = '@Url.Action("WEBNewsSave", "NEWS", new { area = "WebContent" })';
        if (IsEnable == "-1") {
            saveHref = '@Url.Action("news", "Demo", new { area = "WebContent" })';
        }
        var contenttext = "";
        var url = "";
        switch ($('input[name=ArticleType' + lan + ']:checked').val()) {
            case "0": //一般
                contenttext = lan == "en" ? CKEDITOR.instances.editoren.getData() : CKEDITOR.instances.editorzhtw.getData();
                relatedlink = txtAreaObj("link" + lan);
                relatedvideo = txtAreaObj("video" + lan);
                relatedmoj = txtAreaObj("moj" + lan);
                break;
            case "1": //檔案下載
                break;
            case "2": //Url
                url = $("#URL" + lan).val();
                break;
            case "10":
                relatedlink = txtAreaObj("link" + lan);
                relatedvideo = txtAreaObj("video" + lan);
                relatedmoj = txtAreaObj("moj" + lan);
                break;
        }

        var d = [{ link: relatedlink, video: relatedvideo, moj: relatedmoj, key: keyword }];
        var msg = "";
        $.each(d, function(index, item) {
            $.each(item, function(iidex, iitem) {
                if (iitem.filter(x => x.txt == "" || x.val == "").length > 0) {
                    msg += "請完整輸入" + (iidex == "link" ? "[相關連結]" : iidex == "video" ? "[相關影片]" : iidex == "moj" ? "[相關法規]" : iidex == "key" ? "[關鍵字]" : "") + "所需欄位\n";
                }
            });
        });

        if (msg != "") {
            Swal.fire({
                icon: "warning",
                info: msg
            });
            return false;
        }

        var key = @Model.webLevel.WebLevelSN;
        var key2 = @(Model.wEBNews == null? 0 : Model.wEBNews.WEBNewsSN);
        var ct = '@(Model.webLevel.ListType)' =="ImageTextList" ? $("#Title" + lan).val() :  contenttext ;
        var obj = {
            webNewssn: '@(Model.wEBNews == null? 0 : Model.wEBNews.WEBNewsSN)',
            weblevelsn: '@(Model.webLevel.WebLevelSN)',
            module: '@(Model.webLevel.Module)',
            articletype: $('input[name=ArticleType' + lan + ']:checked').val(),
            title: $("#Title" + lan).val(),
            subtitle: $("#SubTitle" + lan).val(),
            description: "",
            DepartmentID: $('#dep' + lan).val(),
            contenttext: ct,
            url: url,
            target: $('input[name=target' + lan + ']:checked').val(),
            youtubeid: "",
            istop: $('select[name=IsTop' + lan + '] option:selected').val(),
            isenable: isEnable,
            startdate: $("#StartDate" + lan).val(),
            enddate: $("#EndDate" + lan).val(),
            fileinfo: fileinfo(lan),
            lang: lan,
            tab: JSON.parse(tab),
            whole: JSON.parse(whole),
            policy: JSON.parse(policy),
            business: JSON.parse(business),
            serve: JSON.parse(serve),
            keyword: keyword,
            relatedlink: relatedlink,
            relatedvideo: relatedvideo,
            relatedmoj: relatedmoj,
            customizetagSn: $('select[name=customize' + lan + '] option:selected').val(),
            seodescription: seodescription,
            seokeywords: seokeywords,
            processuserid : '@(Model.wEBNews == null ? null : Model.wEBNews.ProcessUserID)' 
        };
        if (isEnable == "1" || isEnable == "0") {
            Swal.fire({
                title: '確定要儲存?',
                icon: 'warning',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: '確定',
                denyButtonText: '取消',
            }).then((result) => {
                if (result.isConfirmed) {
                    SaveNews(obj, saveHref, IsEnable);
                } else if (result.isDenied) {
                    Swal.fire('已取消!', '', 'info')
                }
            })
        }
        else if (isEnable == "4" || isEnable == "3") {
            var content = IsEnable == "4" ? "送審確定送出?" : "確定要送審?"
            Swal.fire({
                title: content,
                icon: 'warning',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: '確定',
                denyButtonText: '取消',
            }).then((result) => {
                if (result.isConfirmed) {
                    SaveNews(obj, saveHref, IsEnable);
                } else if (result.isDenied) {
                    Swal.fire('已取消!', '', 'info')
                }
            })
        }
        else {
            SaveNews(obj, saveHref, IsEnable);
        }
    }
    function SaveNews(obj, saveHref, IsEnable) {
        $('.preloader').show();
        $.ajax({
            url: saveHref,
            type: 'post',
            data: obj,
            headers:
            {
                "CUSTOMER-CSRF-HEADER": $("input[name='CustomerFieldName']").val() //注意header要修改
            },
            dataType: "json",
            success: function(data) {
                $('.preloader').hide();
                if (data.statusCode == 200) {
                    if (IsEnable == -1) {
                        window.open("@Url.Action("PageView", "Demo", new { area = "WebContent" })", "temp", config = 'height=800,width=1204');
                    } else {
                        Swal.fire({
                            icon: "success",
                            title: "更新成功"
                        });
                        backward();
                    }
                }
                else {
                    Swal.fire({
                        icon: "warning",
                        title: data.content
                    });

                }
            }
        });
    }
    function CPFun(key, key2) {
        var href = "@Url.Action("Index", "NEWS", new { area = "WebContent" })?key=" + key + "&key2=" + key2;
        $("#fox_box").load(href, function() { });
    }
    function backward() {
        var href = "@Url.Action("Article", "WebLevelManagement", new { area = "WebContent" ,  key= CommonUtility.GetUrlAesEncrypt(Model.webLevel.WebLevelSN.ToString()) }   )";
        $("#fox_box").load(href, function() { });
    }

    function DeleteLink(e) {
        var tr = e.closest("tr");
        tr.remove();
    }

    function DepSelector() {
        $("#DepArea").load("@Url.Action("CommonDepartment", "Common", new { area = "" })", function() {
                DepartmentSelectorTrigger().then(function(result) {
                    var DepData = JSON.parse(result);
                    $('#dep').data('id', DepData.DepID);
                    $('#dep').html(DepData.DepName);
                })
        });
    }
    function GetDepartment() {
        if ($('#dep').data('id')) {
            $.ajax({
                url: '@Url.Action("GetDepartment", "Common", new { area = "" })',
                type: 'post',
                headers:
                {
                    "CUSTOMER-CSRF-HEADER": $("input[name='CustomerFieldName']").val() //注意header要修改
                },
                data: {
                    depID: $('#dep').data('id'),
                },
                dataType: "json",
                success: function(data) {
                    $('#dep').html(data.content);
                }
            });
        }
    }

    function txtAreaObj(Name) {
        var array = [];
        $.each($(".class" + Name), function() {
            var val = $(this).find(".classval" + Name).val() == undefined ? null : $(this).find(".classval" + Name).val();
            var txt = $(this).find(".classtxt" + Name).val();
            array.push({ val: val, txt: txt });
        });
        return array;
    }
</script>
