@model definitionModel
@{
    var UserData = BaseController.UserData as Services.Models.sysUserModel ;
    var list = Services.CommonService.GetDepartments(UserData.WebSiteID );
}
<select id="@Model.IdName" name="@Model.IdName" class="form-control">
    <option value="">--請選擇--</option>
    @foreach (var dep in list.Where(x => x.ParentID == 0).OrderBy(x => x.SortOrder))
    {
        <option value="@dep.DepartmentID" selected="@(Model.selectIds.Any(x=>x== dep.DepartmentID))" disabled=@(Model.IdName == "DepartmentID" && dep.DepartmentID == "000")>@dep.DepartmentName</option>
        foreach (var dep2 in list.Where(x => x.ParentID == dep.SysDepartmentSN).OrderBy(x => x.SortOrder))
        {
            <option value="@dep2.DepartmentID" selected="@(Model.selectIds.Any(x=>x== dep2.DepartmentID))">@("　"+dep.DepartmentName+"-"+ dep2.DepartmentName)</option>
            foreach (var dep3 in list.Where(x => x.ParentID == dep2.SysDepartmentSN).OrderBy(x => x.SortOrder))
            {
                <option value="@dep3.DepartmentID" selected="@(Model.selectIds.Any(x=>x== dep3.DepartmentID))">@("　"+dep.DepartmentName+"-"+ dep2.DepartmentName+"-"+ dep3.DepartmentName)</option>
                foreach (var dep4 in list.Where(x => x.ParentID == dep3.SysDepartmentSN).OrderBy(x => x.SortOrder))
                {
                    <option value="@dep4.DepartmentID" selected="@(Model.selectIds.Any(x=>x== dep4.DepartmentID))">@("　　"+dep.DepartmentName+"-"+ dep2.DepartmentName+"-"+ dep3.DepartmentName+"-"+ dep4.DepartmentName)</option>
                }
            }
        }
    }
</select>