@model Services.Models.WebSite.NewsListModel
@using Utility
@{
    var md = Model;
}
<div class="list2 row text-center px-lg-5 mb-5" id="ListTable">
    @foreach (var item in md.list)
    {
        <div class="col-6 col-sm-4 pt-2 pb-2 pb-lg-4">
            <a href="@item.webUrl" class="d-block" title="@item.tagModel.title" @(!string.IsNullOrWhiteSpace(item.tagModel.rel) ? $"rel={item.tagModel.rel}" : "") target="@item.tagModel.target">
                <div class="listPic">
                    <div class="bg-full"></div>
                    <span class="listIcon lazy" data-bg="@(item.webLogo == null ? "~/assets/img/icon_dept4-2-1.svg" : item.webLogo.FilePath)"></span>
                </div>
                <b class="title5">@(item.webNews.Title)</b>
            </a>
        </div>
    }
</div>
