@model Services.Models.WebSite.WebSiteChildModel
@{
    var masterModel = ViewData["WebSiteMaster"] as Services.Models.WebSite.WebSiteMasterModel;
    var LangSysCategory = masterModel.sysCategories;
    var notautoplay = true;
    int autoplaysec = 0;
    var secCategory = LangSysCategory.FirstOrDefault(x => x.SysCategoryKey == masterModel.Master.WebSiteID +"-9-1")?.Value;
    if (int.TryParse(secCategory, out autoplaysec))
    {
        autoplaysec = autoplaysec * 1000;
        notautoplay = false;
    }

    if (Model != null)
    {
        <section class="idxPicVideo" data-aos="fade">
            <div class="w-100 overflow-hidden">
                <div class="listWrap1 position-relative">
                    <div class="idxList5 imgCover position-relative px-3 px-lg-0">
                        <button type="button" class="swiper-button-prev idxList5SwiperPrevBtn border-0 rounded-circle idxList5SwiperPrevBtnJs" title="上一張照片"><span>上一張照片</span></button>
                        <!-- data-notautoplay="true"為不自動輪播，空值/false為自動輪播 -->
                        <div class="swiper idxList5Swiper idxList5SwiperJs" data-notautoplay="@notautoplay">
                            <div class="swiper-wrapper">
                                @foreach (var item in Model?.NewsViews)
                                {
                                    switch (item.BasicNews.ArticleType)
                                    {
                                        case "1":
                                            var tagModel = CommFun.taggetattr(item.BasicNews.target, item.BasicNews.Title, LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-33")?.Value);
                                          
                                            <div class="swiper-slide" data-swiper-autoplay="@autoplaysec">
                                                <!-- 照片(沒連結的) -->
                                                <div class="card h-100 d-block rounded-4 border-0">
                                                    <a class="d-block" href="@item.BasicNews.URL" title="@tagModel.title" @(!string.IsNullOrWhiteSpace(tagModel.rel) ? Html.Raw( @"rel='noreferrer noopener'") : "") target="@tagModel.target">
                                                        <div class="pic position-relative overflow-hidden rounded-4">
                                                            <img loading="lazy" src="@item.MainImg?.FilePath" alt="@item.BasicNews.Title">
                                                         </div>
                                                     </a> 
                                                </div>
                                            </div>
                                            break;
                                        case "3":
					                        <div class="swiper-slide" data-swiper-autoplay="@autoplaysec">
					                        	<!-- 影片封面 -->
					                        	<div class="card h-100 d-block rounded-4 border-0">
					                        		<a class="d-block" href="@CommonController.FBVideo(item.BasicNews.URL,0)" target="_blank" rel="noreferrer noopener" title="@item.BasicNews.Title">
					                        			<div class="pic position-relative overflow-hidden rounded-4">
					                        				<img loading="lazy" src="@CommonController.FBVideo(item.BasicNews.URL,1)" alt="@item.BasicNews.Title">
					                        				<div class="play"></div>
					                        			</div>
					                        		</a>
					                        	</div>
					                        </div>
                                            break;
                                    }
                                }
                            </div>
                        </div>
                        <button type="button" class="swiper-button-next idxList5SwiperNextBtn border-0 rounded-circle idxList5SwiperNextBtnJs" title="下一張照片"><span>下一張照片</span></button>
                        <div class="idxList5SwiperNav swiper-pagination idxList5SwiperPageJs"></div>
                    </div>
                </div>
            </div>
        </section>
    }

}
