@model Services.Models.WebSite.WebSiteChildModel
@{
    var masterModel = ViewData["WebSiteMaster"] as Services.Models.WebSite.WebSiteMasterModel;
    var LangSysCategory = masterModel.sysCategories;
}
@if (Model != null) { 
<section class="idxPartner" data-aos="fade-up">
    <div class="wrap3 px-4 px-lg-5">
        <!-- title -->
        <div class="titleBar1 text-center">
                <h2 class="title1 mb-2 mb-md-4">@Html.Raw(Model?.LevelView.BasicLevel.Title)</h2>
        </div>
        <!-- content -->
        <div class="listWrap1 position-relative">
            <div class="idxList3 position-relative imgContain">
                <button type="button" class="swiper-button-prev idxList3SwiperPrevBtn border-0 rounded-circle start-0 idxList3SwiperPrevBtnJs" title="@LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-31")?.Value"><span>@LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-31")?.Value</span></button>
                <div class="swiper idxList3Swiper idxList3SwiperJs">
                    <div class="swiper-wrapper">
                        @if(Model?.NewsViews != null)
                        {
                            foreach (var item in Model.NewsViews)
                            {
                                <div class="swiper-slide">
                                    <a class="d-block position-relative" href="@item.BasicNews.URL" @Html.Raw(CommFun.getattr(item.BasicNews.target, item.BasicNews.Title, @LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-33")?.Value))>
                                        <div class="pic position-relative"><img loading="lazy" src="@item.MainImg?.FilePath" alt=""></div>
                                        <div class="pic picHv position-absolute start-0 top-0 w-100 h-100"><img loading="lazy" src="@item.SubImg?.FilePath" alt="@item.BasicNews.Title"></div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
                <button type="button" class="swiper-button-next idxList3SwiperNextBtn border-0 rounded-circle end-0 idxList3SwiperNextBtnJs" title="@LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-32")?.Value"><span>@LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-32")?.Value</span></button>
                <div class="idxList3SwiperNav swiper-pagination idxList3SwiperPageJs"></div>
            </div>
        </div>
    </div>
</section>
}