@model Management.Areas.MailBox.Models.CaseReconfirm.ListModel
@{
    int row = ((Model.defaultPager.p - 1) * Model.defaultPager.DisplayCount) == 0 ? 1 : ((Model.defaultPager.p - 1) * Model.defaultPager.DisplayCount) + 1;
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" style="white-space:nowrap;" class="colW1">序號</th>
            <th scope="col" class="colW3">案件編號</th>
            <th scope="col">主旨</th>
            <th scope="col" class="colW4">email</th>
            <th scope="col" style="width: 13%;">建立時間</th>
            <th scope="col" style="width: 13%;">有效期限</th>
            <th scope="col" style="width: 12%;">狀態</th>
            <th scope="col" style="width: 13%;">動作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CaseApplyList?.Count > 0)
        {
            @foreach (var data in Model?.CaseApplyList)
            {

                <tr>
                    <td>@row</td>
                    <td>@data.CaseNo</td>
                    <td class="text-break text-start">@data.Subject</td>
                    <td class="text-break text-start">@data.ContactEmail</td>
                    <td>@data.CreateDate.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@(data.EffectiveDate.HasValue ? data.EffectiveDate.Value.ToString("yyyy-MM-dd HH:mm:ss") : "")</td>
                    <td>@(Utility.EnumTpye.GetEnumDescription(Utility.EnumTpye.GetEnum<Utility.MailBox.EnumCassApplyStatus>(data.Status)))</td>
                    <td>
                        @{
                            var btns0 = new List<btnModel>();
                            var detail = new btnModel() { Btntype = btnModel.btntype.檢視, onclickFunction = "Detail(" + data.CaseNo + ")" };
                            btns0.Add(detail);

                            var apiBtn2 = new btnModel() { Btntype = btnModel.btntype.發信, onclickFunction = "SendMail(" + data.CaseNo + ")", disable = (data.EffectiveDate < DateTime.UtcNow.AddHours(8)) };
                            btns0.Add(apiBtn2);            

                            <partial name="~/Views/Common/Btn/BtnPublicVersion.cshtml" model="btns0" />
                        }
                    </td>
                </tr>
                row++;
            }
        }
        else
        {
            <tr>
                <td colspan="10">@Utility.SysConstTable.ListNotFound.TW</td>
            </tr>
        }
    </tbody>
</table>
@* 頁碼功能- id =pager   *@
@if (Model?.CaseApplyList.Count > 0)
{
    <div id="pager">
        <partial name="~/Views/Common/Pagination.cshtml" model="@Model.defaultPager" />
    </div>
}