@model NewsModel
@using System.Text.RegularExpressions;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Mode = Model;
}
@section meta{
<title>@Model.ogData.title</title>
<meta property="og:title" content="@Model.ogData.title" />
<meta property="og:image" content="@Model.ogData.image" />
<meta property="og:image:type" content="@Model.ogData.image_type">
<meta property="og:image:width" content="@Model.ogData.image_width">
<meta property="og:image:height" content="@Model.ogData.image_height">
<meta property="og:description" content="@(string.IsNullOrWhiteSpace( Model.Detail.BasicData.SEODescription) ?  Model.ogData.description : Model.Detail.BasicData.SEODescription )" />
<meta name="keywords" content="@(string.IsNullOrWhiteSpace( Model.Detail.BasicData.SEOKeywords) ?  Model.ogData.keyword  : Model.Detail.BasicData.SEOKeywords )" />
<meta name="description" content="@(string.IsNullOrWhiteSpace( Model.Detail.BasicData.SEODescription) ?  Model.ogData.description : Model.Detail.BasicData.SEODescription )" />
}
@section gacode{
	 @if (!string.IsNullOrWhiteSpace(Model.SysWebSiteLang.GACode))
    {
        @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.SysWebSiteLang.GACode))
;
    }
}
<main class="main">
    <!-- 0.麵包屑 -->
    <partial name="~/Views/Common/Breadcrumb.cshtml" model=Model.webSiteBreadcrumbs />
    <div class="wrap4 mx-auto px-3 px-md-4 px-lg-5 py-4 py-md-5 overflow-hidden">
        <div class="d-flex twoColConWrap">
            <!-- 左側選單 start -->
            <partial name="~/Views/Home/leftMenu.cshtml" model=Model.webSiteBreadcrumbs />
            <!-- 左側選單 end -->
            <!-- 右半主內容 start -->
            <div class="rightMain">

                <div class="a11yBrickBar1">
                    <a href="#AC" id="AC" accesskey="C" class="a11yBrick position-absolute" title="@Model.Detail.sysCategories.FirstOrDefault(x=>x.SysCategoryKey==Model.SysWebSiteLang.WebSiteID +"-7-30")?.Value">:::</a>
                </div>

                <!-- 標題 -->
                <partial name="~/Views/Home/titleBar.cshtml" model=Model.titleBarMdel />
                <!-- 標籤 -->
                <div class="listTag3 mb-2 mb-md-3">
                    @{
                        var tab = Model.Detail.newsExtends.Where(x => x.GroupID == "tab").Select(x => x.SysCategoryKey).ToList();
                        foreach (var itme in Model.Detail.sysCategories.Where(x => tab.Contains(x.SysCategoryKey)))
                        {
                            <a class="btn" href="javascript:;" role="button">@itme.Value</a>
                        }
                    }
                </div>
                <!-- 文字編輯區 -->
                <div class="article1 cpArticle">
                    <div class="speechWrap">
                        <ul class="speechList list-unstyled">
                            @for (int i = 1; i < Model.wEBNewsTranscripts.Count(); i++)
                            {
                                var TranscriptData = Model.wEBNewsTranscripts[i];
                                var tagId = Model.wEBNewsTranscripts[i].Item;
                                var _dc = "連結此段落";
                                if (Model.Detail.BasicData.Lang != "zh-tw")
                                {
                                    _dc = "Link in context";
                                }
                                if (TranscriptData.TranscriptForm == ">")
                                {
                                    var hashref = TranscriptData.TranscriptContent.IndexOf("https://") > -1;
                                    var href = "";
                                    var _atile = "另開新視窗";
                                    if (Model.Detail.BasicData.Lang != "zh-tw")
                                    {
                                        _atile = "open in new window";
                                    }

                                    if (hashref)
                                    {
                                        href = TranscriptData.TranscriptContent.Split("'")[1];
                                    }
                                    <li id="@tagId" class="speechI noPic">
                                        <div class="speechCon">
                                            <div class="txtBar">
                                                @if (hashref)
                                                {
                                                   var hreftitle = TranscriptData.TranscriptContent.Split(">")[1].Split("<")[0];
                                                    <div class="txt"><a href=@href target="_blank" title="@($"{hreftitle}({_atile})")" rel="noreferrer noopener">@hreftitle</a></div>
                                                }
                                                else
                                                {
                                                    <div class="txt">@TranscriptData.TranscriptContent</div>
                                                }
                                            </div>
                                            <div class="linkBar">
                                                <a href="#@tagId"><i class="ci ci-context"></i>@_dc</a>
                                            </div>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    var icon = "/assets/img/pic_speaker-default.png";
                                    var otherclass = "speaker-default";
                                    if (TranscriptData.TranscriptForm.Trim() == "唐鳳" || TranscriptData.TranscriptForm.Trim() == "Audrey Tang")
                                    {
                                        icon = "/assets/img/pic_AudreyTang-small.jpg";
                                        otherclass = "";
                                    }
                                    else if (TranscriptData.TranscriptForm.Trim() == "李懷仁" || TranscriptData.TranscriptForm.Trim() == "Huai-jen Lee")
                                    {
                                        icon = "/assets/img/pic_Lee-small.jpg";
                                        otherclass = "";
                                    }
                                    else if (TranscriptData.TranscriptForm.Trim() == "葉寧" || TranscriptData.TranscriptForm.Trim() == "Ning Yeh")
                                    {
                                        icon = "/assets/img/pic_Yeh-small.jpg";
                                        otherclass = "";
                                    }
                                    else if (TranscriptData.TranscriptForm.Trim() == "闕河鳴" || TranscriptData.TranscriptForm.Trim() == "Herming Chiueh")
                                    {
                                        icon = "/assets/img/pic_Chiueh-small.jpg";
                                        otherclass = "";
                                    }


                                    <li id="@tagId" class="speechI">
                                        <div class="speaker @otherclass">
                                            <div class="pic">
                                                <img src="@icon" alt="@TranscriptData.TranscriptForm">
                                            </div>
                                        </div>
                                        <div class="speechCon">
                                            <div class="info">
                                                <span class="name">@TranscriptData.TranscriptForm</span>
                                            </div>
                                            <div class="txtBar">
                                                <div class="txt">
                                                    @Html.Raw(TranscriptData.TranscriptContent.Replace("\n\n","<br/>"))
                                                </div>
                                            </div>
                                            <div class="linkBar">
                                                <a href="#@tagId"><i class="ci ci-context"></i>@_dc</a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="articleInfo">
                    <div class="d-block d-md-inline-flex">
                        <div class="infoUnit"><b>@Model.Detail.sysCategories.FirstOrDefault(x=>x.SysCategoryKey==Model.SysWebSiteLang.WebSiteID+"-7-59")?.Value</b><span>@(Model.Detail.DepartmentName ==""?"數位發展部":Model.Detail.DepartmentName )</span></div>
                        <div class="infoDate"><b>@Model.Detail.sysCategories.FirstOrDefault(x=>x.SysCategoryKey==Model.SysWebSiteLang.WebSiteID+"-7-60")?.Value</b><span>@Model.Detail.BasicData.StartDate.Value.ToString("yyyy-MM-dd")</span></div>
                        <div class="infoTime"><b>@Model.Detail.sysCategories.FirstOrDefault(x=>x.SysCategoryKey==Model.SysWebSiteLang.WebSiteID+"-7-47")?.Value</b><span>@Model.Detail.BasicData.ProcessDate.ToString("yyyy-MM-dd")</span></div>
                    </div>
                </div>
            </div>
            <!-- 右半主內容 end -->
        </div>
    </div>
</main>
@section Scripts{
<script>
    LeftMenu('@Model.WebLevel.WebLevelSN');
</script>

}