@model Management.Areas.MailBox.Models.CaseApply.IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var md = Model;
}
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <div class="bootstrap-table">
                <div class="row searchBar1">
                    <div class="col">
                        <label class="col-form-label">
                            意見分類：
                        </label>
                        <select id="CaseApplyClassSN" name="CaseApplyClassSN" class="form-control">
                            <option value="">--請選擇--</option>
                            @foreach (var item in Model.casesModels.OrderBy(x => x.CaseNo))
                            {
                                <option value="@item.CaseApplyClassSN">@("(" + item.CaseNo + ")" + item.CaseName)</option>
                            }
                        </select>
                    </div>
                    <div class="col">
                        <label class="col-form-label">
                            機關信箱-單位：
                        </label>
                        @{
                            var originalDepModel = new definitionModel() { IdName = "originalDep" };
                            <partial name="~/Views/Common/Selector/SelectorDepartments2.cshtml" model=@originalDepModel />
                        }
                    </div>
                    <div class="col">
                        <label class="col-form-label">
                            承辦機關-單位：
                        </label>
                        @{
                            var DepModel = new definitionModel() { IdName = "dep" };
                            <partial name="~/Views/Common/Selector/SelectorDepartments2.cshtml" model=@DepModel />
                        }
                    </div>
                    <div class="col">
                        <label class="col-form-label">
                            案件進度
                        </label>
                        <select id="Status" name="Status" class="form-control">
                            <option value="">請選擇</option>
                            @{
                                foreach (var item in Enum.GetValues(typeof(Utility.MailBox.MgrStatus)))
                                {
                                    <option value="@Utility.EnumTpye.GetEnumNumberToSting(item)">@Utility.EnumTpye.GetEnumDescription(item)</option>
                                }
                            }
                        </select>
                    </div>
                    @*<div class="col">
                    <label class="col-form-label">
                    回覆來源
                    </label>
                    <div class="row">
                    <div class="col">
                    <select id="ReplySource" name="ReplySource" class="form-control">
                    <option value="">請選擇</option>
                    <option value="@Utility.EnumTpye.GetEnumNumberToSting(Utility.MailBox.EnumReplySource.None)" selected="selected">@Utility.EnumTpye.GetEnumDescription(Utility.MailBox.EnumReplySource.None)</option>
                    <option value="@Utility.EnumTpye.GetEnumNumberToSting(Utility.MailBox.EnumReplySource.Speed)">@Utility.EnumTpye.GetEnumDescription(Utility.MailBox.EnumReplySource.Speed)</option>
                    <option value="@Utility.EnumTpye.GetEnumNumberToSting(Utility.MailBox.EnumReplySource.Mgr)">@Utility.EnumTpye.GetEnumDescription(Utility.MailBox.EnumReplySource.Mgr)</option>
                    </select>
                    </div>
                    </div>
                    </div>*@
                    <div class="col">
                        <label class="col-form-label">
                            關鍵字：
                        </label>
                        <div class="row">
                            <div class="col">
                                <input type="text" id="QryKeyword" class="form-control" placeholder="關鍵字">
                            </div>
                        </div>
                    </div>
                    <div class="col col-dateToDate">
                        <label class="col-form-label">
                            案件成立時間：
                        </label>
                        <div class="row">
                            <div class="col"><input type="date" id="strDate" class="form-control" placeholder="開始時間"></div>
                            <div class="col">~</div>
                            <div class="col"><input type="date" id="endDate" class="form-control" placeholder="結束時間"></div>
                            <div class="col">
                                <input type="button"
                                       value="查詢" onclick="searchFunction(1)"
                                       class="ubtn-search">
                                <input type="button"
                                       value="批次接收" onclick="BatchSearch()"
                                       class="ubtn-export">
                            </div>
                        </div>
                    </div>
                </div>
                <p>上一次排程執行時間: @md.WEBScheduleUseTime </p>
                <div class="uTable3">
                    <div id="tableList" style="min-width: 1200px;"></div>
                </div>
            </div>
            <div id="DepArea"></div>
        </div>
    </div>
</div>
@Html.AntiForgeryToken()
@section scripts{
    <script>
        var href = "@Url.Action("List", "CaseApply", new { area = "MailBox" })";
        var backperPageShow = 0;
        var back = getCookie("back");
        if (back == 1) {
            var objstr = getCookie("GupObj");
            if (objstr != "") {
                if (JSON.parse(objstr) != "") {
                    var obj = JSON.parse(objstr);
                    $('#perPageShow').val(obj.displayCount);
                    backperPageShow = obj.displayCount;
                    $("#QryKeyword").val(obj.keyword);
                    $("#dep").val(obj.dep);
                    $("#strDate").val(obj.strDate);
                    $("#endDate").val(obj.endDate);
                    $("#CaseApplyClassSN").val(obj.CaseApplyClassSN);
                    $("#originalDep").val(obj.originalDep);
                    $("#QryKeyword").val(obj.keyword);
                    $("#Status").val(obj.status);
                    searchFunction(obj.p);
                } else {
                    searchFunction(1);
                }
            } else {
                searchFunction(1);
            }
        } else {
            searchFunction(1);
        }
        SetCookie("back", "");
        $(document).on("click", ".page_a", function () {
            var p = getObjAtr($(this), "data-page");
            searchFunction(p);
        });
        $("#Status").on("change", function () {
            var status = $(this).val();
            switch (status) {
                case "8":
                    $("#ReplySource").val("2");
                    break;
                case "9":
                    $("#ReplySource").val("");
                    break;
            }
        })
        function searchFunction(p) {
            $('.preloader').show();
            var strDate = MODAhtmlEncode($("#strDate"), "val");
            var endDate = MODAhtmlEncode($("#endDate"), "val");
            var CaseApplyClassSN = MODAhtmlEncode($("#CaseApplyClassSN"), "val");
            var dep = MODAhtmlEncode($("#dep"), "val");
            var originalDep = MODAhtmlEncode($("#originalDep"), "val");
            var keyword = MODAhtmlEncode($("#QryKeyword"), "val");
            var status = MODAhtmlEncode($("#Status"), "val");
            var ReplySource = MODAhtmlEncode($("#ReplySource"), "val");
            var DisplayCount = MODAhtmlEncode($('#perPageShow'), "val");
            var diCount = diCountFunction(15, DisplayCount, backperPageShow);
            var selectobj = {
                "strDate": strDate,
                "endDate": endDate,
                "displayCount": diCount,
                "p": p,
                "CaseApplyClassSN": CaseApplyClassSN,
                "dep": dep,
                "originalDep": originalDep,
                "keyword": keyword,
                "status": status,
                "replysource": ReplySource
            };
            SetCookie("GupObj", selectobj);
            var getUrl = "?CaseApplyClassSN=" + selectobj.CaseApplyClassSN + "&strDate=" + selectobj.strDate + "&endDate=" + selectobj.endDate + "&keyword=" + selectobj.keyword + "&dep=" + selectobj.dep + "&originalDep=" + selectobj.originalDep + "&p=" + p + "&replysource=" + selectobj.replysource + "&status=" + selectobj.status;
            var pageUrl = href + getUrl;

            reloadDataTable(pageUrl);
        }
        function reloadDataTable(href) {
            $("#tableList").html("");
            $("#tableList").load(href, function () {
                $('.preloader').hide();
            });
        }
        function SendApi(CaseNo) {
            $.ajax({
                url: '@Url.Action("SendAPI", "CaseApply", new { area = "MailBox" })',
                type: 'post',
                data: {
                    "CaseNo": CaseNo
                },
                headers:
                {
                    "CUSTOMER-CSRF-HEADER": $("input[name='CustomerFieldName']").val() //注意header要修改
                },
                dataType: "json",
                success: function (data) {
                    $('.preloader').hide();
                    if (data.statusCode == 200) {
                        Swal.fire({
                            icon: "success",
                            title: data.content
                        }).then(function () {
                            searchFunction(1);
                        });
                    }
                    else {
                        Swal.fire({
                            icon: "warning",
                            title: data.content
                        });
                    }
                }
            });
        }
        function SendAgain(CaseNo) {
            $.ajax({
                url: '@Url.Action("SendAgain", "CaseApply", new { area = "MailBox" })',
                type: 'post',
                data: {
                    "CaseNo": CaseNo
                },
                headers:
                {
                    "CUSTOMER-CSRF-HEADER": $("input[name='CustomerFieldName']").val() //注意header要修改
                },
                dataType: "json",
                success: function (data) {
                    $('.preloader').hide();
                    if (data.statusCode == 200) {
                        Swal.fire({
                            icon: "success",
                            title: data.content
                        }).then(function () {
                            searchFunction(1);
                        });
                    }
                    else {
                        Swal.fire({
                            icon: "warning",
                            title: data.content
                        });
                    }
                }
            });

        }
        function BatchSearch() {
            $.ajax({
                url: '@Url.Action("BatchSendAPI", "CaseApply", new { area = "MailBox" })',
                type: 'post',
                headers:
                {
                    "CUSTOMER-CSRF-HEADER": $("input[name='CustomerFieldName']").val() //注意header要修改
                },
                dataType: "json",
                success: function (data) {
                    $('.preloader').hide();
                    if (data.statusCode == 200) {
                        Swal.fire({
                            icon: "success",
                            title: data.content
                        }).then(function () {
                            searchFunction(1);
                        });
                    }
                    else {
                        Swal.fire({
                            icon: "warning",
                            title: data.content
                        });
                    }
                }
            });
        }
        function Detail(p) {
            location.href = '@Url.Action("Detail", "CaseApply", new { area = "MailBox" })?sn=' + p;
        }
    </script>
}