@model Management.Areas.MailBox.Models.CaseApply.ListModel
@{
    int row = ((Model.defaultPager.p - 1) * Model.defaultPager.DisplayCount) == 0 ? 1 : ((Model.defaultPager.p - 1) * Model.defaultPager.DisplayCount) + 1;
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" style="white-space:nowrap;" class="colW1">序號</th>
            <th scope="col" class="colW3">案件編號</th>
            <th scope="col" class="colW3">機關信箱-單位</th>
            <th scope="col" class="colW3">承辦機關-單位</th>
            <th scope="col" class="colW4">主旨</th>
            <th scope="col">email</th>
            <th scope="col" class="colW2">成立時間</th>
            <th scope="col" class="colW3">案件狀態</th>
            <th scope="col" class="colW2">回覆來源</th>
            <th scope="col" class="colW4">動作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.GetCases?.Count > 0)
        {
            @foreach (var data in Model?.GetCases)
            {

                <tr>
                    <td>@row</td>
                    <td>@data.CaseNo</td>
                    <td align="left">@data.OriginalDeptName</td>
                    <td align="left">@data.depName</td>
                    <td class="text-break text-start">@data.Subject</td>
                    <td class="text-break text-start">@data.ContactEmail</td>
                    <td>@(data.AcceptDate.HasValue ? data.AcceptDate.Value.ToString("yyyy-MM-dd HH:mm:ss"):"")</td>
                    <td align="left">@(Utility.EnumTpye.GetEnumDescription(Utility.EnumTpye.GetEnum<Utility.MailBox.EnumCassApplyStatus>(data.Status)))</td>
                    <td>@(Utility.EnumTpye.GetEnumDescription(Utility.EnumTpye.GetEnum<Utility.MailBox.EnumReplySource>(data.ReplySource ?? "0")))</td>
                    <td>
                        @{
                            var btns0 = new List<btnModel>();
                            var detail = new btnModel() { Btntype = btnModel.btntype.檢視, onclickFunction = "Detail(" + data.CaseNo + ")" };
                            btns0.Add(detail);

                            if (
                                Utility.EnumTpye.GetEnum<Utility.MailBox.EnumCassApplyStatus>(data.Status) == Utility.MailBox.EnumCassApplyStatus.step8 ||
                                Utility.EnumTpye.GetEnum<Utility.MailBox.EnumCassApplyStatus>(data.Status) == Utility.MailBox.EnumCassApplyStatus.step20 
                            )
                            {
                                var apiBtn2 = new btnModel() { Btntype = btnModel.btntype.取API, onclickFunction = "SendApi(" + data.CaseNo + ")" };
                                btns0.Add(apiBtn2);
                            }
                            if (Utility.EnumTpye.GetEnum<Utility.MailBox.EnumCassApplyStatus>(data.Status) == Utility.MailBox.EnumCassApplyStatus.step15)
                            {
                                var apiBtn3 = new btnModel() { Btntype = btnModel.btntype.發信, onclickFunction = "SendAgain(" + data.CaseNo + ")" };
                                btns0.Add(apiBtn3);
                            }
                            <partial name="~/Views/Common/Btn/BtnPublicVersion.cshtml" model="btns0" />
                        }
                    </td>
                </tr>
                row++;
            }
        }
        else
        {
            <tr>
                <td colspan="10">@Utility.SysConstTable.ListNotFound.TW</td>
            </tr>
        }
    </tbody>
</table>
@* 頁碼功能- id =pager   *@
@if (Model?.GetCases.Count > 0)
{
    <div id="pager">
        <partial name="~/Views/Common/Pagination.cshtml" model="@Model.defaultPager" />
    </div>
}