@model Services.Models.WebSite.WebSiteChildModel
@{
    var masterModel = ViewData["WebSiteMaster"] as Services.Models.WebSite.WebSiteMasterModel;
    var LangSysCategory = masterModel.sysCategories;
}
@if(Model?.NewsViews != null && Model?.NewsViews.Count() > 0)
{
	<section class="hintBar">
		<div class="wrap1 mx-auto px-3 px-md-4 px-lg-5">
			<div class="hintBarWrap">
				<div class="hintTxt">
					<ul class="hintTxtWrap hintJs">
						@foreach(var item in Model.NewsViews)
						{
							  var tagModel = CommFun.taggetattr(item.BasicNews.target, item.BasicNews.Title, LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-33")?.Value);
							<li>
								@if (string.IsNullOrEmpty(item.BasicNews.URL))
								{
									<a href="@item.BasicNews.URL" title="@tagModel.title" @(!string.IsNullOrWhiteSpace(tagModel.rel) ? $"rel={tagModel.rel}":"") target="@tagModel.target">
										@item.BasicNews.Title
									</a>
								}
								else
								{
									@item.BasicNews.Title
								}
							</li>
						}
					</ul>
				</div>
				<a href="javascript:;" class="closeHintBtn closeHintJs" title="@LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-67")?.Value">
					<i class="ci ci-close"></i>
					<span class="visually-hidden">@LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-67")?.Value</span>
				</a>
			</div>
		</div>
	</section>
}