@model NewCommonModel

<div class="tab-pane fade @(Model.webNews.Lang=="zh-tw" ?" show active bootstrap-table":"") " id="@Model.webNews.Lang" role="tabpanel" aria-labelledby="@($"{Model.webNews.Lang}-tab")">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-sm-right">類型</label>
        <div class="col-sm-10 pt-3">
            <input type="radio" name="@($"ArticleType{Model.webNews.Lang}")" value="0" onclick="changeArticleType('@(Model.webNews.Lang)')" class="radio radio-inline " @( Model.webNews.ArticleType == null ? "checked" : (Model.webNews.ArticleType == "0" ? "checked" : "") ) /> 逐字稿格式
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-sm-right">標題</label>
        <div class="col-sm-10">
            <input name="@($"Title{Model.webNews.Lang}")" type="text" value="@Model.webNews?.Title" id="@($"Title{Model.webNews.Lang}")" class="form-control" placeholder="標題">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-sm-right">簡介</label>
        <div class="col-sm-10">
            <input name="@($"SubTitle{Model.webNews.Lang}")" type="text" value="@Model.webNews?.SubTitle" id="@($"SubTitle{Model.webNews.Lang}")" class="form-control" placeholder="簡介" />
        </div>
    </div>

    <!--str上傳-->
    <div class="form-group row">
        @{
            var f2 = new Management.Models.Common.LoadUploadModel()
            {
                commonFileModels = Model.commonFileModels,
                fileGroup = Utility.WebFileGroupID.Transcript.MD,
                file_trNumber = $"{Utility.WebFileGroupID.Transcript.MD}{Model.webNews.Lang}",
                needCopy = true,
                title = "MD檔",
                FileType = "99",
                fth = "News",
                lan = Model.webNews.Lang
            };
            <partial name="~/Views/Common/LoadUpload.cshtml" model="f2" />
        }
    </div>
    <!--end上傳-->


    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-sm-right">狀態</label>
        <div class="col-sm-10 pt-3">
            <input type="radio" name="@($"IsEnable{Model.webNews.Lang}")" value="1" class="radio radio-inline " @( Model.webNews.IsEnable == "1" ? "checked" : "" ) /> 發布
            <input type="radio" name="@($"IsEnable{Model.webNews.Lang}")" value="0" class="radio radio-inline " @( Model.webNews.IsEnable == null ? "checked" : (Model.webNews.IsEnable == "0" ? "checked" : "") ) />不公開
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-sm-right">發布日期</label>
        <div class="col-sm-10">
            <input name="@($"StartDate{Model.webNews.Lang}")" step="1" id="@($"StartDate{Model.webNews.Lang}")" type="datetime-local" value="@( Model.webNews == null?DateTime.UtcNow.AddHours(8).ToString("yyyy-MM-dd HH:mm:ss").Replace(' ', 'T'): Model.webNews.StartDate == null ? DateTime.UtcNow.AddHours(8).ToString("yyyy-MM-dd HH:mm:ss").Replace(' ', 'T') : Model.webNews.StartDate.Value.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ', 'T') )" class="form-control" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-sm-right">下架日期</label>
        <div class="col-sm-10">
            <input name="@($"EndDate{Model.webNews.Lang}")" step="1" type="datetime-local" value="@(Model.webNews == null?"":Model.webNews.EndDate == null ? "" : Model.webNews.EndDate.Value.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ', 'T') )" id="@($"StartDate{Model.webNews.Lang}")" class="form-control" placeholder="">
        </div>
    </div>
        <div class="form-group row">
        <label class="col-sm-2 col-form-label text-sm-right"><span style="color:red">*</span>發布單位</label>
        <div class="col-sm-10">
            <div>
                @{
                    var selectIds = new List<string>();
                    var DepID = string.IsNullOrWhiteSpace(Model.webNews?.DepartmentID) ? Model.sysUserSysDepartmentID : Model.webNews?.DepartmentID;
                    selectIds.Add(DepID);
                    var depControl = new definitionModel()
                    {
                    IdName = $"dep{Model.webNews.Lang}",
                    selectIds = selectIds,
                    };
                    <partial name="~/Views/Common/Selector/SelectorDepartments.cshtml" model=@depControl />
                }
            </div>
        </div>
    </div>
    <div class="form-group text-center uBtnList">
        @{
            var btns = new List<btnModel>()
        {
        new btnModel(){ Btntype = btnModel.btntype.儲存 ,  onclickFunction=$"Save(1,'{Model.webNews.Lang}')" },
        new btnModel(){ Btntype = btnModel.btntype.取消 ,  onclickFunction=$"backward(0)" },
        };
            <partial name="~/Views/Common/Btn/BtnPublicVersion.cshtml" model="btns" />
        }
    </div>
</div>
